# Игнорировать байткод
*.pyc
*.pyo
*.db


**/__pycache__/

# Игнорировать каталог с файлами настройки
**/config/
**/uploads/

# Игнорировать каталог с данными и логами
**/data/
**/logs/

# Игнорировать каталог с исполнимыми файлами и модулями (если таковой имеется)
**/bin/
